doctype html
html
  head
    css:
      del {
        color: #a33;
        background: #ffeaea;
      }
      ins {
        background: #eaffea;
        text-decoration: none;
      }
      .pre{
        line-height: 16px;
        padding: 10px 20px;
        background-color: #f7f7f7;
      }
  body
    == yield