doctype html
html
  head
    css:
      del {
        color: #a33;
        background: #ffeaea;
      }
      ins {
        background: #eaffea;
        text-decoration: none;
      }
      .pre{
        line-height: 16px;
        padding: 10px 20px;
        background-color: #f7f7f7;
      }
  script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"

  javascript:
    $( document ).ready(function() {
      var $frm = $('#pdfForm');
      $frm.submit(function (ev) {
        ev.preventDefault();
        $.ajax({
            type: $frm.attr('method'),
            url: $frm.attr('action'),
            data: $frm.serialize(),
            success: function (data) {
              $frm.html("<a href='"+data+"'>Скачать</a>")
            }
        });
      });
    });
  body
    == yield